body{
    font-size: 18px;
    color: dimgray;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;

}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.btn-nova{
    background-color: darkcyan;
    color: darkcyan;;
}
.service-header{
    background-color: white;
    border-radius: 3px;

}
.service-header:after{
    content: "";
    clear: both;
    display: table;
}
.service{
    float: left;
    color: gray;
    padding: 10px;
    padding-right: 20px;
    font-size: 24px;
}
.service:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    cursor: pointer;
}
.post{
    width: 20%;
    background-color: white;
    border-radius: 3px;
}
.meta-info{
    border-bottom: rgb(238, 238, 238) 1px solid;
}
.meta-info:after{
    content: "";
    clear: both;
    display: table;
}
.title{
    color: black;
}

.nova-margin{
    margin-top: 10px;
}
.nova-padding{
    padding: 15px;
}
.filter{
    background-color: white;
    border-radius: 3px;

}
.filter:after{
    content: "";
    clear: both;
    display: table;
}
.filter li{
    list-style: none;
    float: left;
    padding: 5px 20px 5px 20px;

}
.filter li:hover{
    cursor: pointer;
}
.choose{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}
.message{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.user_logo_nav img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    float: left;
    margin-top: -10px;
}
.user_logo img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    float: left;
}
.user-name{
    float: left;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: dimgray;
}
.tags{
    float: left;
    /* background-color: rgb(238, 238, 238); */
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag{
    background-color: lightsalmon;
    border-radius: 5px;
    font-size: 14px;
    float: left;
    padding: 0px 5px 0px 5px;
    /* padding: 3px; */
    margin-left: 10px;
}
.topic{
    float: left;
    padding: 5px;
}
.title{
    clear: both;
    padding: 5px;
}
.text-body{
    clear: both;
    padding: 5px;
    color: dimgray;
}

.pics img{
    padding: 5px;
}
.pics img:hover{
    cursor: pointer;
}
.post-footer{
    clear: both;
    height: 30px;;
    padding: 8px 5px 3px 5px;

}
.list{
    float: left;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    color: dimgray;
}
.list:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;

}
/* .praise{
    float: left;
    padding-right: 10px;
}
.praise-down{
    float: left;
    padding-right: 10px;
}
.comment{
    float: left;
    padding-right: 10px;
}
.favorit{
    float: left;
    padding-right: 10px;
}
*/
.complain{
    float: right;
}

.nova-card{
    background-color: white;
    border-radius: 3px;
}
.shopping-cart{
    border: solid 1px green;
}
.nova-card ul{
    padding-left: 10px;
}
.nova-card li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.nova-card li:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
.console-logo{
    min-height: 900px;
    padding: 100px;
}
.cust-list li{
    float: left;
    font-size: 12px;
}
.cust-border {
    /* border-style: ridge;
    border-radius: 1px; */
    padding: 20px;
}
.cust-margin{
    margin-right: 10px;
    margin-top: 10px;
}
.cust-margin2{
    margin-top: 10px;

    padding: 10px;
}
.cust-margin3{
    margin-top: 10px;
    margin-left: 16px;
}
.cust-margin4{
    margin-top: 3px;

}
.cust-margin5{
    margin-top: 2px;
}
.cust-margin6{
    margin-top: 1px;
}
.cust-border2{
  /* border-style: solid none none none; */
  border-top: solid 1px gray;
}
.cust-border3{
  border-style:   dotted dashed solid double;
}
.cust-p-color{
  color: #FF0000;
}
.cust-p-color2{
  color: #32CD32;
}
.cust-margin-menus{
  margin-right: 30px;
  margin-top: 3px;
}
.button-menus {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-right: 5px;
  margin-top: 10px;
  width: 140px;
  height: 70px;
}

.button-tables {
  width: 60px;
  height: 40px;
  font-size: 20px;
}

.button2{
  font-size: 20px;
  width: 220px;
  margin-left: 110px;
}



.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    margin-right: 30px;
    margin-top: 3px;
    width: 170px;
    height: 70px;

    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.7s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -90px !important;
    margin-top: -220%;
    opacity: 0;
    transition: all 1.0s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.modal {
    display: block;
    margin-left: 10px;
}

.dishesUnderLine {
    /* border-bottom: 1px solid #f1f1f1; */
}
.deleteButton {
  margin-bottom: 3px;
}
.sdhpBorder {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.cust-text {
  font-weight: bold;
  color: black;
}
.cust-text1 {
  font-weight: bold;
  color: red;
}
.cust-adminLogin{
  font-size: 30px;
  width: 330px;
  margin-top: 170px;
  margin-left: 70px;
}
.div-MembershipPoints{
  width: 280px;
  height: 240px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  margin: 20px auto;
  vertical-align: middle;
  text-align: left;
}

.div-checkout-button{
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
}

.cust-font{
  font-size: 20px;
}
.cust-label{
  font-size: 20px;
  /* UP/Right/DOWN/Left */

  margin:5px 5px 0px 0px;
  display:inline-block;
}
